[access "refs/*"]
	owner = group Administrators
[access]
	inheritFrom = domain-telephony
[project]
	state = active
	description = "Domain: Telephony;"\n\
"Maintainers: Philippe Nunes,Jinmin Chung;"\n\
"Integrators: Nicolas Bertrand,Jooseok.park;"\n\
"Reviewers: Guillaume Zajac;"\n\
"Licenses: Apache-2.0;"\n\

