Source: telephony-daemon
Section: libs
Priority: extra
Maintainer: Jongman Park <jman.park@samsung.com>
Uploaders: Jayoung Gu <jygu@samsung.com>, Kyeongchul Kim <kyeongchul.kim@samsung.com>, Youngman Park <youngman.park@samsung.com>, Inho Oh <inho48.oh@samsung.com>,  DongHoo Park <donghoo.park@samsung.com>
Build-Depends: debhelper (>= 5), libglib2.0-dev, libtcore-dev, dlog-dev
Standards-Version: 0.0.0

Package: telephony-daemon
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: telephony client API library (Shared Object)

Package: telephony-daemon-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, telephony-daemon (= ${Source-Version})
Description: telephony client API library (dbg package)

