[Unit]
Description=Telephony daemon
After=secure-storage.service

[Service]
ExecStart=/usr/bin/telephony-daemon
Restart=on-failure
RestartSec=0
KillMode=none
