[Unit]
Description=Telephony daemon
After=secure-storage.service

[Service]
User=telephony
Group=telephony
SmackProcessLabel=System
ExecStart=/usr/bin/telephony-daemon
Restart=always
RestartSec=0
KillMode=none

[Install]
WantedBy=multi-user.target
